html {
  background-image:     -moz-linear-gradient(top, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.5)), url(../images/bg.png);
  background-image:      -ms-linear-gradient(top, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.5)), url(../images/bg.png);
  background-image:       -o-linear-gradient(top, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.5)), url(../images/bg.png);
  background-image:  -webkit-linear-gradient(top, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.5)), url(../images/bg.png);
  background-image:          linear-gradient(top, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.5)), url(../images/bg.png);
  background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0, 0, 0, 0.06)), to(rgba(0, 0, 0, 0.5))), url(../images/bg.png);
  background-color: #680404;
}

body {
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 1em 5em rgba(0, 0, 0, 0.875);
  color: #ffffe0;
}

a {
  border-bottom: 1px dotted;
  border-bottom-color: inherit;
     -moz-transition: color 0.5s, border-color 0.5s, text-shadow 0.5s;
       -o-transition: color 0.5s, border-color 0.5s, text-shadow 0.5s;
  -webkit-transition: color 0.5s, border-color 0.5s, text-shadow 0.5s;
          transition: color 0.5s, border-color 0.5s, text-shadow 0.5s;
  text-decoration: none;
  text-shadow: 0 1em 0.0625em transparent;
}

a:hover {
  color: inherit;
  text-shadow: 0 0 0.5em red, 0 0 0.25em white;
}

h1, h2, h3, h4, h5, h6 {
  color: #c00000;
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.75);
}

h1 :link, h2 :link, h3 :link, h4 :link, h5 :link, h6 :link,
h1 :visited, h2 :visited, h3 :visited, h4 :visited, h5 :visited, h6 :visited {
  color: #ffffe0;
  text-shadow: 0 1em 0.0625em transparent, 0 0 0.25em transparent, 0 0.25em 0.5em rgba(0, 0, 0, 0.75);
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  text-shadow: 0 0 0.5em red, 0 0 0.25em white, 0 0.25em 0.5em rgba(0, 0, 0, 0.75);
}

blockquote {
  color: #c00000;
  text-shadow: 0 0 0.5em black;
}

.verse pre {
  background: none transparent;
  border: none;
  box-shadow: none;
  color: inherit;
}

fieldset,
legend,
pre,
blockquote,
aside {
  background-image:    -moz-linear-gradient(top, rgba(20, 0, 0, 0), rgba(20, 0, 0, 0.5)), url(../images/paper.png);
  background-image:     -ms-linear-gradient(top, rgba(20, 0, 0, 0), rgba(20, 0, 0, 0.5)), url(../images/paper.png);
  background-image:      -o-linear-gradient(top, rgba(20, 0, 0, 0), rgba(20, 0, 0, 0.5)), url(../images/paper.png);
  background-image: -webkit-linear-gradient(top, rgba(20, 0, 0, 0), rgba(20, 0, 0, 0.5)), url(../images/paper.png);
  background-image:         linear-gradient(top, rgba(20, 0, 0, 0), rgba(20, 0, 0, 0.5)), url(../images/paper.png);
  background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(20, 0, 0, 0)), to(rgba(20, 0, 0, 0.5))), url(../images/paper.png);
  box-shadow:
    0     0.5em 1.5em rgba(0,  0, 0, 0.63),
    0     0     0.5em rgba(32, 0, 0, 0.25) inset,
    0     0     0.5em rgba(24, 0, 0, 0.5)  inset,
    0     0     3em   rgba(24, 0, 0, 0.75) inset;
  color: #250d06;
  text-shadow: 0 1px rgba(255, 255, 255, 0.15), 0 -1px rgba(0, 0, 0, 0.2);
}

body > aside {
  /* Offset in the last shadow, greater blur radius: this makes the column more
   * darker, specially in the left side. */
  box-shadow:
    0     0     0.5em rgba(32, 0, 0, 0.25) inset,
    0     0     0.5em rgba(24, 0, 0, 0.5)  inset,
    0.5em 0     4em   rgba(24, 0, 0, 0.75) inset;
}

legend {
  /* Lighter inset shadow (the last one).  Legends are too small and otherwise
   * they seem to be too dark. */
  box-shadow:
    0     0.5em 1.5em rgba(0,  0, 0, 0.63),
    0     0     0.5em rgba(32, 0, 0, 0.25) inset,
    0     0     0.5em rgba(24, 0, 0, 0.5)  inset,
    0     0     1em   rgba(24, 0, 0, 0.75) inset;
}

aside a {
  color: inherit;
  text-shadow: inherit;
}

aside a:hover {
  border-bottom-color: #600000;
  color: #600000;
  text-shadow: inherit;
}

body > aside > section header,
body > aside > section header a,
body > aside > section header a:hover,
body > aside > section header a:visited,
section aside h1, section aside h2, section aside h3, section aside h4, section aside h5, section aside h6,
section aside h1 :link, section aside h2 :link, section aside h3 :link, section aside h4 :link, section aside h5 :link, section aside h6 :link,
section aside h1 :visited, section aside h2 :visited, section aside h3 :visited, section aside h4 :visited, section aside h5 :visited, section aside h6 :visited {
  color: #400000;
  text-shadow: inherit;
}

.discreet {
  opacity: 0.5;
     -moz-transition: opacity 0.5s;
       -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s;
}

.discreet:hover,
.discreet:focus {
  opacity: 1;
}

@media screen and (min-width: 980px) {

  body {
    margin-top: 4.5em;
  }

  body > header {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 980px;
    min-width: 40em;
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  body > header:before {
    background-image:    -moz-linear-gradient(top, rgba(0, 0, 0, 0.75), transparent);
    background-image:     -ms-linear-gradient(top, rgba(0, 0, 0, 0.75), transparent);
    background-image:      -o-linear-gradient(top, rgba(0, 0, 0, 0.75), transparent);
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75), transparent);
    background-image:         linear-gradient(top, rgba(0, 0, 0, 0.75), transparent);
    background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0, 0, 0, 0.75)), to(transparent));
    background-color: rgba(16, 0, 0, 0.875);
    border-bottom: 1px solid rgba(255, 106, 106, 0.1);
    box-shadow: 0 1.5em 3em rgba(0, 0, 0, 0.9);
    content: "";
    height: 3.5em;
    left: 0;
    margin: 0 -1.5em;
    padding: 0 1.5em;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
  }

  body > header > * {
    position: relative;
  }

}

body > header h1 a,
body > header nav li a {
  border: none;
  color: #ffffe0;
}

body > header nav li a:hover {
  border: none;
}

body > header nav .selected a,
body > header nav .selected a:hover,
body > header nav .selected a:visited {
  border-color: transparent;
}

body > header nav .selected a:before {
  text-shadow: 0 0 0.5em red, 0 0 0.25em white;
}

body > header nav a:hover {
  border-bottom: 1px dotted #ffffe0;
}

body > aside > section > header {
  background-image: url(../images/sidebar-box-header-bg.png);
  box-shadow: 0 0 1.25em rgba(16, 0, 0, 0.5) inset;
  text-align: center;
}

body > aside > section > header a,
body > aside > section > header a:hover,
body > aside > section > header a:visited {
  color: inherit;
  border: none;
  text-shadow: inherit;
}

body > aside > section > section:nth-child(2n + 1) {
  background-color: rgba(0, 0, 0, 0.125);
}

body > aside > section > footer {
  border-top: 1px dotted;
  border-color: inherit;
}

body > aside > section > nav li a,
body > aside > section > nav li a:hover {
  border-color: inherit;
  color: inherit;
  text-shadow: inherit;
     -moz-transition: background-color 0.5s;
       -o-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
          transition: background-color 0.5s;
}

body > aside > section > nav li.selected > a,
body > aside > section > nav li.selected > a:hover {
  color: #400000;
}

body > aside > section > nav li a:hover {
  background-color: rgba(0, 0, 0, 0.125);
}

body > section a {
  border-bottom-color: #a06060;
  color: #c00000;
}

body > section a:visited {
  border-bottom-color: #400000;
}

body > section a:visited:after {
  content: "\2713";
  font-size: 66.6667%;
}

body > section a:hover {
  border-bottom-color: #ffffe0;
}

body > section > section {
  background-color: rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.063);
}

body > footer {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.063);
}

body > footer nav a {
  color: #ffffe0;
  border: none;
}

/* Forms */

fieldset {
  border: none;
}

legend {
  padding: 0 1em;
}

input[type="text"],
textarea {
     -moz-transition: all 0.5s;
       -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
}

input[type="text"],
textarea {
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid #604000;
  box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.75) inset;
}

input[type="text"]:hover,
textarea:hover {
  background-color: white;
}

input[type="text"]:focus,
textarea:focus {
  border: 1px solid #c00000;
  background-color: white;
}

.required-indicator {
  color: #c00000;
}

#searchbox form {
  margin-left: -1.1429em; /* 16/14 */
  margin-right: -1.1429em; /* 16/14 */
}
