form {
  font-family: "Linux Biolinum O";
  font-size: 77.7778%; /* 14/18 */
}

fieldset {
  padding: 1em;
  margin-bottom: 1em;
}

label,
legend {
  font-weight: bold;
}

label:after {
  display: block;
  content: "";
}

input,
textarea,
select {
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font-family: inherit;
  margin-bottom: 1em;
}

input[type="text"],
textarea {
  padding: 0.25em;
}

textarea {
  font: 12px/1.5em "Ubuntu Mono";
  width: 100%;
}

body > aside form {
  font-size: 87.5%; /* 14/16 */
}

body > aside input[type="text"] {
  width: 100%;
}

.required-indicator {
  margin-left: 0.25em;
}

.single-input {
  display: table;
}

.single-input > * {
  display: table-cell;
}

.single-input > *:first-child {
  padding-right: 0.5em;
}
