@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,300,300italic);
/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
*/
/* line 25, ../sass/_base.scss */
html {
  font-family: "Lato", "Droid Sans", sans-serif;
  font-size: 16px;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  line-height: 1.5;
  min-height: 100%;
  text-rendering: optimizeLegibility;
}

/* line 36, ../sass/_base.scss */
body {
  box-sizing: border-box;
  margin: 0 auto 2em;
  max-width: 980px;
}

/* line 42, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Droid Sans", sans-serif;
}

/* line 46, ../sass/_base.scss */
h1, h2, h3, h4 {
  font-weight: 300;
}

/* line 50, ../sass/_base.scss */
h5, h6 {
  font-weight: normal;
}

/* line 54, ../sass/_base.scss */
h1 {
  font-size: 2.25em;
  line-height: 1.111em;
  margin-bottom: 0.889em;
  text-align: center;
}

/* line 63, ../sass/_base.scss */
h2 {
  font-size: 1.688em;
  line-height: 1.778em;
  margin-top: 1.333em;
  margin-bottom: 0.444em;
}

/* line 69, ../sass/_base.scss */
h3 {
  font-size: 1.5em;
  line-height: 1em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

/* line 75, ../sass/_base.scss */
h4 {
  font-size: 1.313em;
  line-height: 2.286em;
  margin-top: 1.714em;
  margin-bottom: 0.571em;
}

/* line 81, ../sass/_base.scss */
h5 {
  font-size: 1.125em;
  line-height: 1.333em;
  margin-top: 2em;
  margin-bottom: 0.667em;
}

/* line 87, ../sass/_base.scss */
h6 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 2.25em;
  margin-bottom: 0.75em;
}

/* line 93, ../sass/_base.scss */
p {
  margin: 0;
  word-spacing: 0.05em;
  word-wrap: break-word;
}

/* line 100, ../sass/_base.scss */
ol,
ul {
  list-style-position: outside;
  padding-left: 0;
  margin: 1.5em 0;
}
/* line 106, ../sass/_base.scss */
ol ol,
ol ul,
ul ol,
ul ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2.25em;
}

/* line 114, ../sass/_base.scss */
dl {
  margin: 1.5em 0;
}
/* line 117, ../sass/_base.scss */
dl dt {
  font-style: italic;
  font-weight: bold;
}

/* line 123, ../sass/_base.scss */
abbr {
  font-variant: small-caps;
  letter-spacing: 0.05em;
  text-transform: lowercase;
}

/* line 130, ../sass/_base.scss */
code,
pre {
  font-family: "Oxygen Mono", "Inconsolata", "Consolas", monospace;
}

/* line 134, ../sass/_base.scss */
code {
  font-size: 0.875em;
  line-height: 1.714em;
}

/* line 138, ../sass/_base.scss */
pre > code {
  font-size: 10px;
}

/* line 142, ../sass/_base.scss */
pre {
  font-size: 0.875em;
  line-height: 1.714em;
  margin: 1.714em 2.5em;
  overflow: auto;
  padding: 0.857em;
}

/* line 149, ../sass/_base.scss */
blockquote {
  font-style: italic;
  margin: 1.5em;
  padding: 0.75em 2em;
  position: relative;
}

/* line 156, ../sass/_base.scss */
blockquote:before {
  /* Left quote margin */
  margin-right: -2em;
}

/* line 161, ../sass/_base.scss */
blockquote em {
  font-style: normal;
}

/* line 165, ../sass/_base.scss */
blockquote:before {
  content: "\201c";
  position: absolute;
  right: 100%;
}

/* line 171, ../sass/_base.scss */
blockquote:after {
  content: "\201d";
}

/* line 175, ../sass/_base.scss */
blockquote q:before {
  content: "\2018";
}

/* line 179, ../sass/_base.scss */
blockquote q:after {
  content: "\2019";
}

/* line 183, ../sass/_base.scss */
blockquote.verse {
  overflow: auto;
  padding-left: 0;
  padding-right: 0;
  position: static;
}

/* line 190, ../sass/_base.scss */
blockquote.verse:before {
  content: "";
}

/* line 194, ../sass/_base.scss */
blockquote.verse:after {
  content: "";
}

/* line 198, ../sass/_base.scss */
.verse pre {
  display: table;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.5em;
  margin: 0 auto;
  padding: 0;
  width: auto;
}

/* line 208, ../sass/_base.scss */
dd {
  margin-left: 2.25em;
}

/* line 212, ../sass/_base.scss */
body > header {
  padding: 0.75em 1.5em;
}

/* line 216, ../sass/_base.scss */
body > header h1 {
  float: left;
  font-size: 200%;
  font-weight: bold;
  line-height: 1;
  font-weight: normal;
  margin: 0;
}

/* line 225, ../sass/_base.scss */
body > header h1 a {
  display: inline-block;
}

/* line 229, ../sass/_base.scss */
body > header nav {
  clear: right;
  float: right;
  line-height: 2em;
}

/* line 235, ../sass/_base.scss */
body > header nav {
  margin-right: -1em;
}

/* line 239, ../sass/_base.scss */
nav ul {
  margin: 0;
}

/* line 243, ../sass/_base.scss */
nav li {
  display: inline-block;
}

/* line 247, ../sass/_base.scss */
nav li a {
  padding: 0 1em;
}

/* line 251, ../sass/_base.scss */
body > header nav li {
  margin-left: 0.5em;
}

/* line 255, ../sass/_base.scss */
body > header nav li a {
  display: inline-block;
  height: 1.75em;
  line-height: 1.5em;
}

/* line 261, ../sass/_base.scss */
body > header nav li.selected a {
  position: relative;
}

/* line 265, ../sass/_base.scss */
body > header nav li.selected a:before {
  bottom: 0;
  content: "\2022";
  font-size: 88.8889%;
  left: 0;
  line-height: 0.25em;
  height: 0.5em;
  position: absolute;
  right: 0;
  text-align: center;
}

/* line 277, ../sass/_base.scss */
#content {
  clear: both;
  display: table-cell;
  font-size: 100%;
  /* 18px; */
  padding: 1.5em 2.5em;
  vertical-align: top;
}
/* line 14, ../sass/_base.scss */
#content .quantity {
  font-style: normal !important;
  font-weight: normal !important;
  white-space: nowrap;
}
/* line 20, ../sass/_base.scss */
#content p.discreet {
  font-size: 0.875em;
  line-height: 1.714em;
  cursor: default;
  font-family: "Lato", "Droid Sans", sans-serif;
  margin-bottom: 1.5em;
  text-indent: 0 !important;
}

/* Couldn't find a better way to prevent few-contented pages to not shrink due
* to display: table-cell... */
/* line 289, ../sass/_base.scss */
#content:before {
  content: "a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a";
  display: block;
  height: 0;
  speak: none;
  visibility: hidden;
}

/* line 297, ../sass/_base.scss */
#content + aside {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  font-size: 16px;
  line-height: 1.5em;
  padding: 2.5em 0;
  vertical-align: top;
  width: 26%;
}

/* line 311, ../sass/_base.scss */
#content p:not(.discreet):not(.document-authorship) + p,
#content ul + p,
#content ol + p,
#content aside + p {
  text-indent: 1.5em;
}

/* line 317, ../sass/_base.scss */
#content aside,
#content aside strong,
#content aside em {
  font-family: "Lato", "Droid Sans", sans-serif;
}

/* line 321, ../sass/_base.scss */
section > section h1 {
  font-size: 137.5%;
}

/* line 325, ../sass/_base.scss */
section > section h2 {
  font-size: 125%;
}

/* line 329, ../sass/_base.scss */
section > section h3 {
  font-size: 112.5%;
}

/* line 333, ../sass/_base.scss */
section > section h4 {
  font-size: 100%;
}

/* line 337, ../sass/_base.scss */
section > section h5 {
  font-size: 87.5%;
}

/* line 341, ../sass/_base.scss */
section > section h6 {
  font-size: 75%;
}

/* line 345, ../sass/_base.scss */
section aside {
  font-size: 1.125em;
  line-height: 1.333em;
  float: right;
  margin-left: 1.333em;
  margin-bottom: 1.333em;
  margin-right: 0;
  margin-top: 0;
  padding: 0.667em;
  width: 33%;
}

/* line 361, ../sass/_base.scss */
section aside h1:first-child,
section aside h2:first-child,
section aside h3:first-child,
section aside h4:first-child,
section aside h5:first-child,
section aside h6:first-child {
  margin-top: 0;
}

/* line 367, ../sass/_base.scss */
#content .document-description + p:not(.discreet)::first-line,
#content .document-description + .discreet + p::first-line,
#content h1 + p:not(.document-authorship):not(.document-description)::first-line {
  font-size: 1.25em;
  line-height: 1.2em;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  text-transform: lowercase;
}

/* line 374, ../sass/_base.scss */
#content > h1:nth-of-type(1) {
  margin-top: 0;
}

/* line 378, ../sass/_base.scss */
#content > section {
  margin: 1em -2.5em -1.5em;
  padding: 0 1.5em 1px;
}

/* line 384, ../sass/_base.scss */
body > footer {
  font-size: 0.75em;
  line-height: 2em;
  font-family: "Lato","Linux Biolinum O", "Droid Sans", sans-serif;
  padding-bottom: 1.5em;
  padding-top: 0.5em;
}
/* line 391, ../sass/_base.scss */
body > footer p {
  margin: 0.5em 0;
  text-align: center;
}
/* line 396, ../sass/_base.scss */
body > footer nav {
  text-align: center;
}
/* line 398, ../sass/_base.scss */
body > footer nav ul {
  margin: 0;
  padding: 0;
}

/* line 406, ../sass/_base.scss */
#sidebar > section {
  font-size: 0.875em;
  line-height: 1.714em;
  margin: 0 0 1em;
  padding: 0 1em;
}
/* line 412, ../sass/_base.scss */
#sidebar > section > header {
  font-weight: bold;
  text-align: center;
}
/* line 418, ../sass/_base.scss */
#sidebar > section > header,
#sidebar > section > section {
  margin: 0;
  padding: 1em;
}
/* line 424, ../sass/_base.scss */
#sidebar > section > nav ul {
  padding-left: 0;
}
/* line 427, ../sass/_base.scss */
#sidebar > section > nav ul ul {
  margin-left: 0.5em;
}
/* line 432, ../sass/_base.scss */
#sidebar > section > nav li {
  list-style: none;
  display: block;
}
/* line 437, ../sass/_base.scss */
#sidebar > section > nav li a {
  display: block;
  padding: 0.5em 0.5em 0.5em 1em;
}
/* line 442, ../sass/_base.scss */
#sidebar > section > nav li.selected > a:before {
  content: "\2022";
  display: inline-block;
  margin-left: -0.75em;
  margin-right: 0.25em;
  text-align: center;
  width: 0.5em;
}
/* line 452, ../sass/_base.scss */
#sidebar > section > footer {
  margin: 0;
  padding: 0.25em 1em;
  text-align: right;
}

/* line 459, ../sass/_base.scss */
.document-authorship {
  font-size: 0.875em;
  line-height: 1.714em;
  cursor: default;
  font-family: "Lato", "Droid Sans", sans-serif;
  margin-bottom: 1.5em;
  text-indent: 0 !important;
}

/* line 463, ../sass/_base.scss */
.document-description {
  font-family: "Lato", "Droid Sans", sans-serif;
  font-style: italic;
  margin-bottom: 3em;
  text-align: center;
  text-indent: 0;
}

/* line 471, ../sass/_base.scss */
p.document-authorship {
  font-size: 0.75em;
  line-height: 2em;
  font-style: italic;
  margin-bottom: 0;
  text-indent: 0;
  text-align: center;
}

/* line 479, ../sass/_base.scss */
.invisible {
  position: absolute;
  left: -1px;
  top: -1px;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

@media only screen and (max-width: 979px) {
  /* line 490, ../sass/_base.scss */
  #content:before {
    content: "";
    display: none;
  }

  /* line 495, ../sass/_base.scss */
  #content {
    display: block;
    padding: 1.5em;
  }

  /* line 500, ../sass/_base.scss */
  #content > section {
    margin: 1em -1.5em -1.5em;
    padding: 0 1.5em 1px;
  }

  /* line 505, ../sass/_base.scss */
  #sidebar {
    display: block;
  }

  /* line 509, ../sass/_base.scss */
  section aside {
    float: none;
    width: auto;
    float: right;
    margin: 1em;
    padding: 1em;
  }
}
@media only screen and (min-width: 640px) and (max-width: 979px) {
  /* line 521, ../sass/_base.scss */
  body {
    max-width: 600px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 639px) {
  /* line 529, ../sass/_base.scss */
  body {
    max-width: 480px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  /* line 537, ../sass/_base.scss */
  body {
    max-width: 320px;
  }

  /* line 541, ../sass/_base.scss */
  #content {
    font-size: 88.8889%;
    /* 16px */
  }

  /* line 545, ../sass/_base.scss */
  blockquote {
    margin: 1em;
    padding: 1em;
  }

  /* line 550, ../sass/_base.scss */
  blockquote:before {
    /* Left quote margin */
    margin-right: -1em;
  }

  /* line 555, ../sass/_base.scss */
  pre {
    font-size: 66.6667%;
  }
}
@media only screen and (max-width: 320px) {
  /* line 563, ../sass/_base.scss */
  body {
    width: 320px;
  }

  /* line 567, ../sass/_base.scss */
  #content {
    font-size: 88.8889%;
    /* 16px */
  }
}
/* line 1, ../sass/_forms.scss */
form {
  font-family: "Lato", sans-serif;
  font-size: 77.7778%;
  /* 14/18 */
}

/* line 6, ../sass/_forms.scss */
fieldset {
  padding: 1em;
  margin-bottom: 1em;
}

/* line 12, ../sass/_forms.scss */
label,
legend {
  font-weight: bold;
}

/* line 16, ../sass/_forms.scss */
label:after {
  content: "";
  display: block;
}

/* line 23, ../sass/_forms.scss */
input,
textarea,
select {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  font-family: inherit;
  margin-bottom: 1em;
}

/* line 33, ../sass/_forms.scss */
input[type="text"],
textarea {
  padding: 0.25em;
}

/* line 37, ../sass/_forms.scss */
textarea {
  font: 12px/1.5em "Ubuntu Mono";
  width: 100%;
}

/* line 42, ../sass/_forms.scss */
#sidebar form {
  font-size: 87.5%;
  /* 14/16 */
}

/* line 46, ../sass/_forms.scss */
#sidebar input[type="text"] {
  width: 100%;
}

/* line 50, ../sass/_forms.scss */
.required-indicator {
  margin-left: 0.25em;
}

/* line 54, ../sass/_forms.scss */
.single-input {
  display: table;
}

/* line 58, ../sass/_forms.scss */
.single-input > * {
  display: table-cell;
}

/* line 62, ../sass/_forms.scss */
.single-input > *:first-child {
  padding-right: 0.5em;
}

/* line 1, ../sass/_decoration.scss */
html {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(20, 0, 0, 0)), color-stop(100%, rgba(20, 0, 0, 0.5))), url(../images/bg.png);
  background: -webkit-linear-gradient(top, rgba(20, 0, 0, 0), rgba(20, 0, 0, 0.5)), url(../images/bg.png);
  background: -moz-linear-gradient(top, rgba(20, 0, 0, 0), rgba(20, 0, 0, 0.5)), url(../images/bg.png);
  background: -o-linear-gradient(top, rgba(20, 0, 0, 0), rgba(20, 0, 0, 0.5)), url(../images/bg.png);
  background: linear-gradient(top, rgba(20, 0, 0, 0), rgba(20, 0, 0, 0.5)), url(../images/bg.png);
}

/* line 11, ../sass/_decoration.scss */
body #content,
body > aside {
  color: #ae6854;
  text-shadow: 0 1px #4b0000, 0 -1px rgba(0, 0, 0, 0.63);
}

/* line 17, ../sass/_decoration.scss */
a {
  border-bottom: 1px dotted;
  border-bottom-color: inherit;
  color: #ae6854;
  -webkit-transition: background-color 0.25s, color 0.25s, border-color 0.25s, text-shadow 0.25s;
  -moz-transition: background-color 0.25s, color 0.25s, border-color 0.25s, text-shadow 0.25s;
  -o-transition: background-color 0.25s, color 0.25s, border-color 0.25s, text-shadow 0.25s;
  transition: background-color 0.25s, color 0.25s, border-color 0.25s, text-shadow 0.25s;
  text-decoration: none;
}

/* line 30, ../sass/_decoration.scss */
a:visited {
  color: #765e5e;
}

/* line 34, ../sass/_decoration.scss */
a:hover {
  color: white;
}

/* line 38, ../sass/_decoration.scss */
h1, h2, h3, h4, h5, h6 {
  color: white;
}

/* line 45, ../sass/_decoration.scss */
.verse pre {
  background: none transparent;
  border: none;
  box-shadow: none;
  color: inherit;
}

/* line 52, ../sass/_decoration.scss */
legend {
  box-shadow: 0 0.5em 1.5em rgba(0, 0, 0, 0.63), 0 0 0.5em rgba(32, 0, 0, 0.25) inset, 0 0 0.5em rgba(24, 0, 0, 0.5) inset, 0 0 1em rgba(24, 0, 0, 0.75) inset;
}

/* line 77, ../sass/_decoration.scss */
section aside h1,
section aside h2,
section aside h3,
section aside h4,
section aside h5,
section aside h6,
section aside h1 :link,
section aside h2 :link,
section aside h3 :link,
section aside h4 :link,
section aside h5 :link,
section aside h6 :link,
section aside h1 :visited,
section aside h2 :visited,
section aside h3 :visited,
section aside h4 :visited,
section aside h5 :visited,
section aside h6 :visited {
  color: white;
}

/* line 81, ../sass/_decoration.scss */
.discreet {
  opacity: 0.63;
  -moz-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

/* line 90, ../sass/_decoration.scss */
.discreet:hover,
.discreet:focus {
  opacity: 1;
}

@media screen and (min-width: 980px) {
  /* line 96, ../sass/_decoration.scss */
  body {
    margin-top: 4.5em;
  }

  /* line 100, ../sass/_decoration.scss */
  body > header {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 980px;
    min-width: 40em;
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  /* line 112, ../sass/_decoration.scss */
  body > header:before {
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.75), transparent);
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.75), transparent);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.75), transparent);
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75), transparent);
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.75), transparent);
    background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0, 0, 0, 0.75)), to(transparent));
    background-color: rgba(16, 0, 0, 0.875);
    border-bottom: 1px solid rgba(255, 106, 106, 0.1);
    box-shadow: 0 1.5em 3em rgba(0, 0, 0, 0.9);
    content: "";
    height: 3.5em;
    left: 0;
    margin: 0 -1.5em;
    padding: 0 1.5em;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
  }

  /* line 133, ../sass/_decoration.scss */
  body > header > * {
    position: relative;
  }
}
/* line 142, ../sass/_decoration.scss */
body > header a {
  border: none;
  color: white;
  text-shadow: 0 1em 0.5em transparent;
}
/* line 147, ../sass/_decoration.scss */
body > header a:hover {
  color: white;
  text-shadow: 0 0 0.5em red, 0 0 0.25em white;
}
/* line 152, ../sass/_decoration.scss */
body > header a:hover, body > header a:visited {
  border: none;
}
/* line 158, ../sass/_decoration.scss */
body > header nav .selected a:before {
  text-shadow: 0 0 0.5em red, 0 0 0.25em white;
}

/* line 164, ../sass/_decoration.scss */
#sidebar > section > header {
  background-color: rgba(0, 0, 0, 0.25);
  background-image: url(../images/sidebar-box-header-bg.png);
  box-shadow: 0 0 1.25em rgba(16, 0, 0, 0.5) inset;
  margin-bottom: 1px;
  text-align: center;
}

/* line 172, ../sass/_decoration.scss */
#sidebar > section > section:nth-child(2n + 1) {
  background-color: rgba(0, 0, 0, 0.125);
}

/* line 176, ../sass/_decoration.scss */
#sidebar > section > footer {
  border-top: 1px dotted;
}

/* line 180, ../sass/_decoration.scss */
#sidebar > section > footer {
  border-color: #400000;
  color: inherit;
  text-shadow: inherit;
}

/* line 187, ../sass/_decoration.scss */
#sidebar > section > nav li a,
#sidebar > section > nav li a:hover {
  border-color: #400000;
}

/* line 191, ../sass/_decoration.scss */
#sidebar > section > nav li a:hover {
  background-color: rgba(0, 0, 0, 0.38);
}

/* line 195, ../sass/_decoration.scss */
#content a {
  border-bottom-color: #a06060;
}

/* line 199, ../sass/_decoration.scss */
#content a:visited:after {
  content: "\2713";
  font-size: 66.6667%;
}

/* line 204, ../sass/_decoration.scss */
#content a:hover {
  border-bottom-color: #ae6854;
}

/* line 208, ../sass/_decoration.scss */
#content > section {
  background-color: rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.063);
}

/* line 213, ../sass/_decoration.scss */
body > footer {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.063);
}

/* line 218, ../sass/_decoration.scss */
body > footer nav a {
  color: #ae6854;
  border: none;
}

/* Forms */
/* line 225, ../sass/_decoration.scss */
fieldset {
  border: none;
}

/* line 229, ../sass/_decoration.scss */
legend {
  padding: 0 1em;
}

/* line 234, ../sass/_decoration.scss */
input[type="text"],
textarea {
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

/* line 242, ../sass/_decoration.scss */
input[type="text"],
textarea {
  background-color: #200000;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.75) inset;
  color: #ae6854;
}

/* line 251, ../sass/_decoration.scss */
input[type="text"]:hover,
textarea:hover {
  background-color: #200C0C;
}

/* line 256, ../sass/_decoration.scss */
input[type="text"]:focus,
textarea:focus {
  background-color: white;
  box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.75) inset, 0 0 0.5em rgba(255, 224, 224, 0.25), 0 0 1em rgba(255, 224, 224, 0.13);
  color: #201818;
}

/* line 264, ../sass/_decoration.scss */
.required-indicator {
  color: #c00000;
}

/* line 268, ../sass/_decoration.scss */
.searchbox form {
  margin-left: -1.143em;
  /* 16/14 */
  margin-right: -1.143em;
  /* 16/14 */
}

/* line 1, ../sass/_code.scss */
.keyword {
  color: #cc7833;
}

/* line 5, ../sass/_code.scss */
.define {
  color: #cc7833;
}

/* line 9, ../sass/_code.scss */
.number {
  color: #a5c261;
}

/* line 13, ../sass/_code.scss */
.string {
  color: #a5c261;
}

/* line 17, ../sass/_code.scss */
.string-delimiter {
  color: #519F50;
}

/* line 21, ../sass/_code.scss */
.comment {
  color: #888;
}
