/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
*/
@font-face {
  font-family: 'Gentium Basic';
  font-style: normal;
  font-weight: normal;
  src: local("Gentium Basic"), local("GentiumBasic"), url("../fonts/GenBasR.ttf");
}

@font-face {
  font-family: 'Gentium Basic';
  font-style: italic;
  font-weight: normal;
  src: local("Gentium Basic Italic"), local("GentiumBasic-Italic"), url("../fonts/GenBasI.ttf");
}

@font-face {
  font-family: 'Gentium Basic';
  font-style: normal;
  font-weight: bold;
  src: local("Gentium Basic Bold"), local("GentiumBasic-Bold"), url("../fonts/GenBasB.ttf");
}

@font-face {
  font-family: 'Gentium Basic';
  font-style: italic;
  font-weight: bold;
  src: local("Gentium Basic Bold Italic"), local("GentiumBasic-BoldItalic"), url("../fonts/GenBasBI.ttf");
}

/* line 26, ../sass/_base.scss */
html {
  font-family: "Gentium", "Droid Serif", serif;
  font-size: 18px;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  line-height: 1.5;
  min-height: 100%;
}

/* line 36, ../sass/_base.scss */
body {
  box-sizing: border-box;
  margin: 0 auto 2em;
  max-width: 980px;
}

/* line 42, ../sass/_base.scss */
h1 {
  font-size: 183.3333%;
}

/* line 46, ../sass/_base.scss */
h2 {
  font-size: 150%;
}

/* line 50, ../sass/_base.scss */
h3 {
  font-size: 133.3333%;
}

/* line 54, ../sass/_base.scss */
h4 {
  font-size: 116.6667%;
}

/* line 58, ../sass/_base.scss */
h5 {
  font-size: 100%;
}

/* line 62, ../sass/_base.scss */
h6 {
  font-size: 88.8889%;
}

/* line 66, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Linux Biolinum O", "Droid Sans", sans-serif;
  font-weight: normal;
  line-height: 1.125em;
  margin: 1em 0 0.6667em;
}

/* line 73, ../sass/_base.scss */
h1, h2 {
  letter-spacing: -0.05em;
}

/* line 77, ../sass/_base.scss */
h3, h4, h5, h6 {
  font-family: "Linux Biolinum Capitals", sans-serif;
  text-transform: lowercase;
}

/* line 82, ../sass/_base.scss */
p {
  margin: 0.6667em 0 0;
  word-spacing: 0.05em;
  word-wrap: break-word;
}

/* line 88, ../sass/_base.scss */
dt {
  font-weight: bold;
}

/* line 93, ../sass/_base.scss */
ol,
ul {
  padding-left: 2.25em;
  margin: 1em 0;
}

/* line 101, ../sass/_base.scss */
ul ol,
ol ul,
ol ol,
ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 107, ../sass/_base.scss */
ul,
ol {
  list-style-position: outside;
}

/* line 111, ../sass/_base.scss */
abbr, acronym {
  font-variant: small-caps;
  letter-spacing: 0.05em;
  text-transform: lowercase;
}

/* line 118, ../sass/_base.scss */
code,
pre {
  font-family: "Ubuntu Mono","DejaVu Sans Mono","Inconsolata","Consolas",monospace;
}

/* line 122, ../sass/_base.scss */
code {
  font-size: 88.8889%;
}

/* line 126, ../sass/_base.scss */
pre > code {
  font-size: 100%;
}

/* line 130, ../sass/_base.scss */
pre {
  font-size: 77.7778%;
  line-height: 20px;
  margin: 1.5em;
  overflow: auto;
  padding: 1em;
}

/* line 138, ../sass/_base.scss */
blockquote {
  font-style: italic;
  margin: 1.5em;
  padding: 1em 2em;
  position: relative;
}

/* line 145, ../sass/_base.scss */
blockquote:before {
  /* Left quote margin */
  margin-right: -2em;
}

/* line 150, ../sass/_base.scss */
blockquote em {
  font-style: normal;
}

/* line 154, ../sass/_base.scss */
blockquote:before {
  content: "\201c";
  position: absolute;
  right: 100%;
}

/* line 160, ../sass/_base.scss */
blockquote:after {
  content: "\201d";
}

/* line 164, ../sass/_base.scss */
blockquote q:before {
  content: "\2018";
}

/* line 168, ../sass/_base.scss */
blockquote q:after {
  content: "\2019";
}

/* line 172, ../sass/_base.scss */
blockquote.verse {
  overflow: auto;
  padding-left: 0;
  padding-right: 0;
  position: static;
}

/* line 179, ../sass/_base.scss */
blockquote.verse:before {
  content: "";
}

/* line 183, ../sass/_base.scss */
blockquote.verse:after {
  content: "";
}

/* line 187, ../sass/_base.scss */
.verse pre {
  display: table;
  font-family: inherit;
  font-size: inherit;
  margin: 0 auto;
  padding: 0;
  width: auto;
}

/* line 196, ../sass/_base.scss */
dd {
  margin-left: 2.25em;
}

/* line 200, ../sass/_base.scss */
body > header {
  padding: 0.75em 1.5em;
}

/* line 204, ../sass/_base.scss */
body > header h1 {
  float: left;
  font: bold 200%/1em "Linux Biolinum O", "Droid Sans", sans-serif;
  font-weight: normal;
  margin: 0;
}

/* line 211, ../sass/_base.scss */
body > header h1 a {
  display: inline-block;
}

/* line 215, ../sass/_base.scss */
body > header nav {
  clear: right;
  float: right;
  font-family: "Linux Biolinum O", "Droid Sans", sans-serif;
  line-height: 2em;
}

/* line 222, ../sass/_base.scss */
body > header nav {
  margin-right: -1em;
}

/* line 226, ../sass/_base.scss */
nav ul {
  margin: 0;
}

/* line 230, ../sass/_base.scss */
nav li {
  display: inline-block;
}

/* line 234, ../sass/_base.scss */
nav li a {
  padding: 0 1em;
}

/* line 238, ../sass/_base.scss */
body > header nav li {
  margin-left: 0.5em;
}

/* line 242, ../sass/_base.scss */
body > header nav li a {
  display: inline-block;
  height: 1.75em;
  line-height: 1.5em;
}

/* line 248, ../sass/_base.scss */
body > header nav li.selected a {
  position: relative;
}

/* line 252, ../sass/_base.scss */
body > header nav li.selected a:before {
  bottom: 0;
  content: "\2022";
  font-size: 88.8889%;
  left: 0;
  line-height: 0.25em;
  height: 0.5em;
  position: absolute;
  right: 0;
  text-align: center;
}

/* line 264, ../sass/_base.scss */
body > section {
  display: table-cell;
  font-size: 100%;
  /* 18px; */
  vertical-align: top;
}

/* Couldn't find a better way to prevent few-contented pages to not shrink due
* to display: table-cell... */
/* line 272, ../sass/_base.scss */
body > section:before {
  content: "a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a";
  display: block;
  height: 0;
  speak: none;
  visibility: hidden;
}

/* line 280, ../sass/_base.scss */
body > section + aside {
  display: table-cell;
  vertical-align: top;
  width: 26%;
}

/* line 286, ../sass/_base.scss */
body > section p:not(.discreet):not(.document-authorship) + p {
  text-indent: 1.5em;
  margin-top: 0;
}

/* line 294, ../sass/_base.scss */
body > section strong,
body > section strong em,
body > section em strong,
body > section dt {
  font-family: "Gentium Basic", "Droid Serif", serif;
}

/* line 301, ../sass/_base.scss */
body > aside,
body > section aside,
body > section aside strong,
body > section aside em {
  font-family: "Linux Biolinum O", "Droid Sans", sans-serif;
}

/* line 305, ../sass/_base.scss */
section > section h1 {
  font-size: 137.5%;
}

/* line 309, ../sass/_base.scss */
section > section h2 {
  font-size: 125%;
}

/* line 313, ../sass/_base.scss */
section > section h3 {
  font-size: 112.5%;
}

/* line 317, ../sass/_base.scss */
section > section h4 {
  font-size: 100%;
}

/* line 321, ../sass/_base.scss */
section > section h5 {
  font-size: 87.5%;
}

/* line 325, ../sass/_base.scss */
section > section h6 {
  font-size: 75%;
}

/* line 329, ../sass/_base.scss */
section aside {
  float: right;
  font-size: 88.8889%;
  /* 16px */
  margin-left: 1.75em;
  margin-bottom: 1.75em;
  margin-right: 0;
  margin-top: 0.75em;
  padding: 1em;
  width: 33%;
}

/* line 345, ../sass/_base.scss */
section aside h1:first-child,
section aside h2:first-child,
section aside h3:first-child,
section aside h4:first-child,
section aside h5:first-child,
section aside h6:first-child {
  margin-top: 0;
}

/* line 349, ../sass/_base.scss */
body > section {
  clear: both;
  padding: 1.5em;
}

/* line 354, ../sass/_base.scss */
body > section + aside {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5em;
  padding: 2.5em 0;
}

/* line 364, ../sass/_base.scss */
body > section .document-authorship + p:not(.discreet):first-line,
body > section .document-authorship + .discreet + p:first-line,
body > section h1 + p:not(.document-description):first-line {
  font-size: 111.1111%;
  font-variant: small-caps;
  letter-spacing: 0.05em;
}

/* line 370, ../sass/_base.scss */
body > section > h1:nth-of-type(1) {
  margin-top: 0;
}

/* line 374, ../sass/_base.scss */
body > section > section {
  margin: 1em -1.5em -1.5em;
  padding: 0 1.5em 1px;
}

/* line 379, ../sass/_base.scss */
body > footer {
  font-family: "Linux Biolinum O", "Droid Sans", sans-serif;
  font-size: 77.7778%;
  padding-bottom: 1.5em;
  padding-top: 0.5em;
}

/* line 386, ../sass/_base.scss */
body > footer p {
  margin: 0.5em 0;
  text-align: center;
}

/* line 391, ../sass/_base.scss */
body > footer nav {
  text-align: center;
}

/* line 395, ../sass/_base.scss */
body > footer nav ul {
  margin: 0;
  padding: 0;
}

/* line 400, ../sass/_base.scss */
body > aside > section {
  margin: 0 0 1em;
  padding: 0 1em;
}

/* line 405, ../sass/_base.scss */
body > aside > section > header {
  font-weight: bold;
  text-align: center;
}

/* line 411, ../sass/_base.scss */
body > aside > section > header,
body > aside > section > section {
  margin: 0;
  padding: 1em;
}

/* line 416, ../sass/_base.scss */
body > aside > section > footer {
  margin: 0;
  padding: 0.25em 1em;
  text-align: right;
}

/* line 422, ../sass/_base.scss */
body > aside > section > nav ul {
  padding-left: 0;
}

/* line 426, ../sass/_base.scss */
body > aside > section > nav ul ul {
  margin-left: 0.5em;
}

/* line 430, ../sass/_base.scss */
body > aside > section > nav li {
  list-style: none;
  display: block;
}

/* line 435, ../sass/_base.scss */
body > aside > section > nav li a {
  display: block;
  padding: 0.5em 0.5em 0.5em 1em;
}

/* line 440, ../sass/_base.scss */
body > aside > section > nav li.selected > a:before {
  content: "\2022";
  display: inline-block;
  margin-left: -0.75em;
  margin-right: 0.25em;
  text-align: center;
  width: 0.5em;
}

/* line 449, ../sass/_base.scss */
.quantity {
  font-weight: normal !important;
  font-style: normal !important;
  white-space: nowrap;
}

/* line 456, ../sass/_base.scss */
.discreet,
.document-authorship {
  font-family: "Linux Biolinum O", "Droid Sans", sans-serif;
  font-size: 88.8889%;
}

/* line 461, ../sass/_base.scss */
p.discreet {
  margin: 0.6667em 0 1em !important;
  text-indent: 0 !important;
}

/* line 466, ../sass/_base.scss */
p.document-authorship {
  font-size: 0.778em;
  line-height: 1.929em;
  font-style: italic;
  margin: 0 0 1em !important;
  text-align: right;
  text-indent: 0 !important;
}

/* line 474, ../sass/_base.scss */
.discreet {
  cursor: default;
}

/* line 478, ../sass/_base.scss */
.document-description {
  font-style: italic;
}

/* line 482, ../sass/_base.scss */
.invisible {
  position: absolute;
  left: -1px;
  top: -1px;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

@media only screen and (max-width: 979px) {
  /* line 493, ../sass/_base.scss */
  body > section:before {
    content: "";
    display: none;
  }

  /* line 498, ../sass/_base.scss */
  body > section {
    display: block;
  }

  /* line 502, ../sass/_base.scss */
  body > aside {
    display: block;
  }

  /* line 506, ../sass/_base.scss */
  section aside {
    float: none;
    width: auto;
    float: right;
    margin: 1em;
    padding: 1em;
  }
}
@media only screen and (min-width: 640px) and (max-width: 979px) {
  /* line 518, ../sass/_base.scss */
  body {
    max-width: 600px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 639px) {
  /* line 526, ../sass/_base.scss */
  body {
    max-width: 480px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  /* line 534, ../sass/_base.scss */
  body {
    max-width: 320px;
  }

  /* line 538, ../sass/_base.scss */
  body > section {
    font-size: 88.8889%;
    /* 16px */
  }

  /* line 542, ../sass/_base.scss */
  blockquote {
    margin: 1em;
    padding: 1em;
  }

  /* line 547, ../sass/_base.scss */
  blockquote:before {
    /* Left quote margin */
    margin-right: -1em;
  }

  /* line 552, ../sass/_base.scss */
  pre {
    font-size: 66.6667%;
  }
}
@media only screen and (max-width: 320px) {
  /* line 560, ../sass/_base.scss */
  body {
    width: 320px;
  }

  /* line 564, ../sass/_base.scss */
  body > section {
    font-size: 88.8889%;
    /* 16px */
  }
}
/* line 1, ../sass/_forms.scss */
form {
  font-family: "Linux Biolinum O";
  font-size: 77.7778%;
  /* 14/18 */
}

/* line 6, ../sass/_forms.scss */
fieldset {
  padding: 1em;
  margin-bottom: 1em;
}

/* line 12, ../sass/_forms.scss */
label,
legend {
  font-weight: bold;
}

/* line 16, ../sass/_forms.scss */
label:after {
  content: "";
  display: block;
}

/* line 23, ../sass/_forms.scss */
input,
textarea,
select {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  font-family: inherit;
  margin-bottom: 1em;
}

/* line 33, ../sass/_forms.scss */
input[type="text"],
textarea {
  padding: 0.25em;
}

/* line 37, ../sass/_forms.scss */
textarea {
  font: 12px/1.5em "Ubuntu Mono";
  width: 100%;
}

/* line 42, ../sass/_forms.scss */
body > aside form {
  font-size: 87.5%;
  /* 14/16 */
}

/* line 46, ../sass/_forms.scss */
body > aside input[type="text"] {
  width: 100%;
}

/* line 50, ../sass/_forms.scss */
.required-indicator {
  margin-left: 0.25em;
}

/* line 54, ../sass/_forms.scss */
.single-input {
  display: table;
}

/* line 58, ../sass/_forms.scss */
.single-input > * {
  display: table-cell;
}

/* line 62, ../sass/_forms.scss */
.single-input > *:first-child {
  padding-right: 0.5em;
}

/* line 1, ../sass/_decoration.scss */
html {
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../images/bg.png);
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../images/bg.png);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../images/bg.png);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../images/bg.png);
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../images/bg.png);
  background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url(../images/bg.png);
}

/* line 10, ../sass/_decoration.scss */
body {
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 1em 5em rgba(0, 0, 0, 0.875);
  color: #e0cfcf;
}

/* line 16, ../sass/_decoration.scss */
a {
  border-bottom: 1px dotted;
  border-bottom-color: inherit;
  -moz-transition: background-color 0.5s, color 0.5s, border-color 0.5s, text-shadow 0.5s;
  -o-transition: background-color 0.5s, color 0.5s, border-color 0.5s, text-shadow 0.5s;
  -webkit-transition: background-color 0.5s, color 0.5s, border-color 0.5s, text-shadow 0.5s;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s, text-shadow 0.5s;
  color: inherit;
  text-decoration: none;
  text-shadow: 0 1em 0.0625em transparent;
}

/* line 28, ../sass/_decoration.scss */
a:hover {
  text-shadow: 0 0 0.5em red, 0 0 0.25em white;
}

/* line 32, ../sass/_decoration.scss */
body > section a {
  color: white;
}

/* line 42, ../sass/_decoration.scss */
h1 :link, h2 :link, h3 :link, h4 :link, h5 :link, h6 :link,
h1 :visited, h2 :visited, h3 :visited, h4 :visited, h5 :visited, h6 :visited {
  text-shadow: 0 1em 0.063em transparent, 0 0 0.25em transparent, 0 0.25em 0.5em rgba(0, 0, 0, 0.75);
}

/* line 47, ../sass/_decoration.scss */
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  text-shadow: 0 0 0.5em red, 0 0 0.25em white, 0 0.25em 0.5em rgba(0, 0, 0, 0.75);
}

/* line 52, ../sass/_decoration.scss */
blockquote {
  color: #c00000;
  text-shadow: 0 0 0.5em black;
}

/* line 57, ../sass/_decoration.scss */
.verse pre {
  background: none transparent;
  border: none;
  box-shadow: none;
  color: inherit;
}

/* line 68, ../sass/_decoration.scss */
fieldset,
legend,
pre,
blockquote,
aside {
  background-image: -moz-linear-gradient(top, rgba(20, 0, 0, 0), rgba(20, 0, 0, 0.5)), url(../images/sidebar.png);
  background-image: -ms-linear-gradient(top, rgba(20, 0, 0, 0), rgba(20, 0, 0, 0.5)), url(../images/sidebar.png);
  background-image: -o-linear-gradient(top, rgba(20, 0, 0, 0), rgba(20, 0, 0, 0.5)), url(../images/sidebar.png);
  background-image: -webkit-linear-gradient(top, rgba(20, 0, 0, 0), rgba(20, 0, 0, 0.5)), url(../images/sidebar.png);
  background-image: linear-gradient(top, rgba(20, 0, 0, 0), rgba(20, 0, 0, 0.5)), url(../images/sidebar.png);
  background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(20, 0, 0, 0)), to(rgba(20, 0, 0, 0.5))), url(../images/sidebar.png);
  box-shadow: 0 0.5em 1.5em rgba(0, 0, 0, 0.63), 0 0 0.5em rgba(32, 0, 0, 0.25) inset, 0 0 0.5em rgba(24, 0, 0, 0.5) inset, 0 0 3em rgba(24, 0, 0, 0.75) inset;
  color: #ae6854;
  text-shadow: 0 1px rgba(255, 255, 255, 0.13), 0 -1px rgba(0, 0, 0, 0.63);
}

/* line 88, ../sass/_decoration.scss */
fieldset a,
legend a,
pre a,
blockquote a,
aside a {
  text-shadow: inherit !important;
}

/* line 96, ../sass/_decoration.scss */
fieldset a:hover,
legend a:hover,
pre a:hover,
blockquote a:hover,
aside a:hover {
  color: #e0cfcf !important;
  text-shadow: inherit !important;
}

/* line 101, ../sass/_decoration.scss */
body > aside {
  /* Offset in the last shadow, greater blur radius: this makes the column more
   * darker, specially in the left side. */
  box-shadow: 0 0 0.5em rgba(32, 0, 0, 0.25) inset, 0 0 0.5em rgba(24, 0, 0, 0.5) inset, 0.5em 0 4em rgba(24, 0, 0, 0.75) inset;
}

/* line 110, ../sass/_decoration.scss */
legend {
  /* Lighter inset shadow (the last one).  Legends are too small and otherwise
   * they seem to be too dark. */
  box-shadow: 0 0.5em 1.5em rgba(0, 0, 0, 0.63), 0 0 0.5em rgba(32, 0, 0, 0.25) inset, 0 0 0.5em rgba(24, 0, 0, 0.5) inset, 0 0 1em rgba(24, 0, 0, 0.75) inset;
}

/* line 126, ../sass/_decoration.scss */
body > aside > section header,
body > aside > section header a,
body > aside > section header a:hover,
body > aside > section header a:visited,
section aside h1, section aside h2, section aside h3, section aside h4, section aside h5, section aside h6,
section aside h1 :link, section aside h2 :link, section aside h3 :link, section aside h4 :link, section aside h5 :link, section aside h6 :link,
section aside h1 :visited, section aside h2 :visited, section aside h3 :visited, section aside h4 :visited, section aside h5 :visited, section aside h6 :visited {
  color: #C00000;
}

/* line 130, ../sass/_decoration.scss */
.discreet {
  opacity: 0.5;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

/* line 139, ../sass/_decoration.scss */
.discreet:hover,
.discreet:focus {
  opacity: 1;
}

@media screen and (min-width: 980px) {
  /* line 145, ../sass/_decoration.scss */
  body {
    margin-top: 4.5em;
  }

  /* line 149, ../sass/_decoration.scss */
  body > header {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 980px;
    min-width: 40em;
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  /* line 161, ../sass/_decoration.scss */
  body > header:before {
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.75), transparent);
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.75), transparent);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.75), transparent);
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75), transparent);
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.75), transparent);
    background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0, 0, 0, 0.75)), to(transparent));
    background-color: rgba(16, 0, 0, 0.875);
    border-bottom: 1px solid rgba(255, 106, 106, 0.1);
    box-shadow: 0 1.5em 3em rgba(0, 0, 0, 0.9);
    content: "";
    height: 3.5em;
    left: 0;
    margin: 0 -1.5em;
    padding: 0 1.5em;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
  }

  /* line 182, ../sass/_decoration.scss */
  body > header > * {
    position: relative;
  }
}
/* line 189, ../sass/_decoration.scss */
body > header h1 a,
body > header nav li a {
  border: none;
  color: #e0cfcf;
}

/* line 194, ../sass/_decoration.scss */
body > header nav li a:hover {
  border: none;
}

/* line 200, ../sass/_decoration.scss */
body > header nav .selected a,
body > header nav .selected a:hover,
body > header nav .selected a:visited {
  border-color: transparent;
}

/* line 204, ../sass/_decoration.scss */
body > header nav .selected a:before {
  text-shadow: 0 0 0.5em red, 0 0 0.25em white;
}

/* line 208, ../sass/_decoration.scss */
body > header nav a:hover {
  border-bottom: 1px dotted #e0cfcf;
}

/* line 212, ../sass/_decoration.scss */
body > aside > section > header {
  background-color: rgba(0, 0, 0, 0.25);
  background-image: url(../images/sidebar-box-header-bg.png);
  box-shadow: 0 0 1.25em rgba(16, 0, 0, 0.5) inset;
  margin-bottom: 1px;
  text-align: center;
}

/* line 222, ../sass/_decoration.scss */
body > aside > section > header a,
body > aside > section > header a:hover,
body > aside > section > header a:visited {
  color: inherit;
  border: none;
  text-shadow: inherit;
}

/* line 228, ../sass/_decoration.scss */
body > aside > section > section:nth-child(2n + 1) {
  background-color: rgba(0, 0, 0, 0.125);
}

/* line 232, ../sass/_decoration.scss */
body > aside > section > footer {
  border-top: 1px dotted;
}

/* line 238, ../sass/_decoration.scss */
body > aside > section > footer,
body > aside > section > nav li a,
body > aside > section > nav li a:hover {
  border-color: #400000;
  color: inherit;
  text-shadow: inherit;
}

/* line 244, ../sass/_decoration.scss */
body > aside > section > footer a {
  /* Same as the text color, but can't inherit because footer has a different
   * border color */
  border-color: #ae6854;
}

/* line 251, ../sass/_decoration.scss */
body > aside > section > nav li.selected > a,
body > aside > section > nav li.selected > a:hover {
  color: #e0cfcf;
}

/* line 255, ../sass/_decoration.scss */
body > aside > section > nav li a:hover {
  background-color: rgba(0, 0, 0, 0.38);
}

/* line 259, ../sass/_decoration.scss */
body > section a {
  color: white;
  border-bottom-color: #a06060;
}

/* line 264, ../sass/_decoration.scss */
body > section a:visited {
  color: #9f8080;
}

/* line 268, ../sass/_decoration.scss */
body > section a:visited:after {
  content: "\2713";
  font-size: 66.6667%;
}

/* line 273, ../sass/_decoration.scss */
body > section a:hover {
  border-bottom-color: #e0cfcf;
  color: inherit;
}

/* line 278, ../sass/_decoration.scss */
body > section > section {
  background-color: rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.063);
}

/* line 283, ../sass/_decoration.scss */
body > footer {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.063);
}

/* line 288, ../sass/_decoration.scss */
body > footer nav a {
  color: #e0cfcf;
  border: none;
}

/* Forms */
/* line 295, ../sass/_decoration.scss */
fieldset {
  border: none;
}

/* line 299, ../sass/_decoration.scss */
legend {
  padding: 0 1em;
}

/* line 304, ../sass/_decoration.scss */
input[type="text"],
textarea {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* line 312, ../sass/_decoration.scss */
input[type="text"],
textarea {
  background-color: #200000;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.75) inset;
  color: #e0cfcf;
}

/* line 321, ../sass/_decoration.scss */
input[type="text"]:hover,
textarea:hover {
  background-color: #200C0C;
}

/* line 326, ../sass/_decoration.scss */
input[type="text"]:focus,
textarea:focus {
  background-color: white;
  box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.75) inset, 0 0 0.5em rgba(255, 224, 224, 0.25), 0 0 1em rgba(255, 224, 224, 0.13);
  color: #201818;
}

/* line 334, ../sass/_decoration.scss */
.required-indicator {
  color: #c00000;
}

/* line 338, ../sass/_decoration.scss */
.searchbox form {
  margin-left: -1.143em;
  /* 16/14 */
  margin-right: -1.143em;
  /* 16/14 */
}

/* line 1, ../sass/_code.scss */
.keyword {
  color: #cc7833;
}

/* line 5, ../sass/_code.scss */
.define {
  color: #cc7833;
}

/* line 9, ../sass/_code.scss */
.number {
  color: #a5c261;
}

/* line 13, ../sass/_code.scss */
.string {
  color: #a5c261;
}

/* line 17, ../sass/_code.scss */
.string-delimiter {
  color: #519F50;
}

/* line 21, ../sass/_code.scss */
.comment {
  color: #888;
}
