html {
  @include background(
    linear-gradient(top, rgba(20, 0, 0, 0), rgba(20, 0, 0, 0.5)),
    url(../images/bg.png)
  );

}

body {
  #content,
  > aside {
    color: $body-text-color;
    text-shadow: 0 1px lighten(#180000, 10%), 0 -1px rgba(0, 0, 0, 0.63);
  }
}

a {
  border-bottom: 1px dotted;
  border-bottom-color: inherit;
  color: $default-link-color;
  @include transition(
    background-color 0.25s,
    color 0.25s,
    border-color 0.25s,
    text-shadow 0.25s
  );
  text-decoration: none;
}

a:visited {
  color: $visited-link-color;
}

a:hover {
  color: $hover-link-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
}

blockquote {
}

.verse pre {
  background: none transparent;
  border: none;
  box-shadow: none;
  color: inherit;
}

legend {
  box-shadow:
    0     0.5em 1.5em rgba(0,  0, 0, 0.63),
    0     0     0.5em rgba(32, 0, 0, 0.25) inset,
    0     0     0.5em rgba(24, 0, 0, 0.5)  inset,
    0     0     1em   rgba(24, 0, 0, 0.75) inset;
}

section aside h1,
section aside h2,
section aside h3,
section aside h4,
section aside h5,
section aside h6,
section aside h1 :link,
section aside h2 :link,
section aside h3 :link,
section aside h4 :link,
section aside h5 :link,
section aside h6 :link,
section aside h1 :visited,
section aside h2 :visited,
section aside h3 :visited,
section aside h4 :visited,
section aside h5 :visited,
section aside h6 :visited {
  color: white;
}

.discreet {
  opacity: 0.63;
     -moz-transition: opacity 0.25s;
       -o-transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
          transition: opacity 0.25s;
}

.discreet:hover,
.discreet:focus {
  opacity: 1;
}

@media screen and (min-width: 980px) {

  body {
    margin-top: 4.5em;
  }

  body > header {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 980px;
    min-width: 40em;
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  body > header:before {
    background-image:    -moz-linear-gradient(top, rgba(0, 0, 0, 0.75), transparent);
    background-image:     -ms-linear-gradient(top, rgba(0, 0, 0, 0.75), transparent);
    background-image:      -o-linear-gradient(top, rgba(0, 0, 0, 0.75), transparent);
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75), transparent);
    background-image:         linear-gradient(top, rgba(0, 0, 0, 0.75), transparent);
    background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0, 0, 0, 0.75)), to(transparent));
    background-color: rgba(16, 0, 0, 0.875);
    border-bottom: 1px solid rgba(255, 106, 106, 0.1);
    box-shadow: 0 1.5em 3em rgba(0, 0, 0, 0.9);
    content: "";
    height: 3.5em;
    left: 0;
    margin: 0 -1.5em;
    padding: 0 1.5em;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
  }

  body > header > * {
    position: relative;
  }

}

body > header {
  $link-glow: 0 0 0.5em red, 0 0 0.25em white;

  a {
    border: none;
    color: white;
    text-shadow: 0 1em 0.5em transparent;

    &:hover {
      color: white;
      text-shadow: $link-glow;
    }

    &:hover, &:visited {
      border: none;
    }
  }

  nav .selected {
    a:before {
      text-shadow: $link-glow;
    }
  }
}

#sidebar > section > header {
  background-color: rgba(0, 0, 0, 0.25);
  background-image: url(../images/sidebar-box-header-bg.png);
  box-shadow: 0 0 1.25em rgba(16, 0, 0, 0.5) inset;
  margin-bottom: 1px;
  text-align: center;
}

#sidebar > section > section:nth-child(2n + 1) {
  background-color: rgba(0, 0, 0, 0.125);
}

#sidebar > section > footer {
  border-top: 1px dotted;
}

#sidebar > section > footer {
  border-color: #400000;
  color: inherit;
  text-shadow: inherit;
}

#sidebar > section > nav li a,
#sidebar > section > nav li a:hover {
  border-color: #400000;
}

#sidebar > section > nav li a:hover {
  background-color: rgba(0, 0, 0, 0.38);
}

#content a {
  border-bottom-color: #a06060;
}

#content a:visited:after {
  content: "\2713";
  font-size: 66.6667%;
}

#content a:hover {
  border-bottom-color: $body-text-color;
}

#content > section {
  background-color: rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.063);
}

body > footer {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.063);
}

body > footer nav a {
  color: $body-text-color;
  border: none;
}

/* Forms */

fieldset {
  border: none;
}

legend {
  padding: 0 1em;
}

input[type="text"],
textarea {
     -moz-transition: all 0.25s;
       -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
          transition: all 0.25s;
}

input[type="text"],
textarea {
  background-color: #200000;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.75) inset;
  color: $body-text-color;
}

input[type="text"]:hover,
textarea:hover {
  background-color: #200C0C;
}

input[type="text"]:focus,
textarea:focus {
  background-color: white;
  box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.75) inset,
              0 0 0.5em       rgba(255, 224, 224, 0.25),
              0 0 1em         rgba(255, 224, 224, 0.13);
  color: #201818;
}

.required-indicator {
  color: #c00000;
}

.searchbox form {
  margin-left: -1.1429em; /* 16/14 */
  margin-right: -1.1429em; /* 16/14 */
}
