/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
*/

@import "compass/css3";
@import "compass/typography";

$page-width:  960px;
$gutter:      20px;
$half-gutter: $gutter / 2;

$browser-default-font-size: 16px;
$base-font-size:            18px;
$base-line-height:          1.5 * $base-font-size;
$pre-font-size:             14px;
$box-base-font-size:        16px;

$h1-font-size: 33px;
$h2-font-size: 27px;
$h3-font-size: 24px;
$h4-font-size: 21px;
$h5-font-size: 18px;
$h6-font-size: 16px;

@import "base";
@import "forms";
@import "decoration";
@import "code";
